*,*::after,*::before{
    box-sizing: border-box;
}
:root{
    --color-menu-purple:#740646;
    --color-pink:#D90452;
    --color-rose:#FF7171;
    --color-yellow:#F7C90B;
    --color-back-menu:#F5F6F8;
    --color-t-pink: #D90452;
    --color-purple:#4E01D4;
    --color-cian:#00EBD5;
    --btn-color-more:#00e9d3;
    --color-blue:#00A7CC;
    --bg-gray: #D2D9E0;
    --color-gray:#2D2E2F6F;
    --color-gray-footer:#D2D9E0;
}
/* FONTS */
@font-face{
    font-family: 'FivoSans-Thin';
    src: url(/assets/extras/tipografia/FivoSans-Thin.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Medium';
    src: url(/assets/extras/tipografia/FivoSans-Medium.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Bold';
    src: url(/assets/extras/tipografia/FivoSans-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Regular';
    src: url(/assets/extras/tipografia/FivoSans-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Heavy';
    src: url(/assets/extras/tipografia/FivoSans-Heavy.otf);
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Light';
    src: url(/assets/extras/tipografia/FivoSans-Light.otf);
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Light-Oblique';
    src: url(/assets/extras/tipografia/FivoSans-Light-Oblique.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'FivoSans-Oblique';
    src: url(/assets/extras/tipografia/FivoSans-Oblique.otf);
    font-weight: normal;
    font-style: normal;
}
.Helvetica{
    font-family: Helvetica;
}
.FivoSans-Thin{
    font-family: FivoSans-Thin;
}
.FivoSans-Medium{
    font-family: FivoSans-Medium;
}
.FivoSans-Bold{
    font-family: FivoSans-Bold;
}
.FivoSans-Regular{
    font-family: FivoSans-Regular;
}
.FivoSans-Heavy{
    font-family: FivoSans-Heavy;
}
.FivoSans-Light{
    font-family: FivoSans-Light;
}
.FivoSans-Light-Oblique{
    font-family: FivoSans-Light-Oblique;
}
.FivoSans-Oblique{
    font-family: FivoSans-Oblique;
}
/* END FONTS */
li{
    list-style: none;
}
@media(max-width:520px){
    .display-max{
        display:none;
    }
    .display-min{
        display:block;
    }
    body{
        padding-top:70px;    
    }
    .display-mob-flex{
        display:flex;
    }
    .flex-reverse{
        flex-direction: column-reverse;
    }
}
@media(min-width:520px){
    .display-max{
        display:block;
    }
    .display-min{
        display:none;
    }
    body{
        padding-top:130px;    
    }
}
.d-flex-row{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width:520px){
    .d-flex-carrusel{
        display: flex;
    }
    .contain-carrusel{
        overflow: hidden;
    }
    .aux-carr{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .carrusel-contain-item{
        margin-right: 10px;
    }
}
@media(min-width:520px){
    .d-flex-carrusel{
        display: flex;
        flex-wrap: wrap;
    }
    .contain-carrusel{
        overflow: hidden;
    }
}
.ct-pink{
    color: var(--color-t-pink);
}
@media(max-width:520px){
    .fs-medium{
        font-size: 1em;
    }
    .fs-medium-1{
        font-size: 1.5em;
    }
    .text-mobile{
        font-size: .8em;
    }
    .title-mobile{
        font-size: 1.5em;
    }
    .subtitle-mobile{
        font-size: 1.1em;
    }
}
@media(min-width:520px){
    .fs-medium{
        font-size: 1.4em;
    }
}
.fs-medium-3{
    font-size: 1.3em;
}
@media(min-width:1400px){
    .fs-medium-1{
        font-size: 2.7em;
    }
    .size-text{
        font-size: 2.2em;
    }
    .fs-banner{
        font-size: 3.8em;   
    }
    
}
@media(min-width:520px) and (max-width:1400px){
    .fs-medium-1{
        font-size: 2em;
    }
    .size-text{
        font-size: 2em;
    }
    .fs-banner{
        font-size: 3.8em;   
    }
}
@media(max-width:520px){
    .fs-banner{
        font-size: 1.8em;   
    }
}
@media(min-width:520px){
    .fs-big{
        font-size: 3.8em;
    }
}
.bold-3{
    font-weight: 300;
}
.vertical-middle{
    vertical-align: middle;
}
.color-pink{
    color: var(--color-pink);
}
.color-rose{
    color: var(--color-rose);
}
.color-yellow{
    color:var(--color-yellow);
}
.color-purple{
    color:var(--color-purple);
}
.color-cian{
    color:var(--color-cian);
}
.color-blue{
    color:var(--color-blue);
}
/* -------SECTION MENU------- */
.bg-menu-gray{
    background-color: #F5F6F8;
}
.header_01{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    z-index:5;
    background:0 0;
    padding:10px 10%;
    background-color: var(--color-back-menu);
}
.menu-c-purple{
    background-color: var(--color-menu-purple);
    border-radius: 10px;
    height: 80px;
}
.icon-m{
    margin: 0 5px;
}
.a-dark{
    color: black;
}
.a-dark:hover{
    color: black;
    text-decoration: none;
}
@media(min-width:520px){
    .icon-m-size{
        width: 30px;
        height: auto;
    }
}
@media(max-width:520px){
    .icon-m-size{
        width: 25px;
        height: auto;
    }
}
.bold-5{
    font-weight: 500;
}
.container-fluid{
    width:80%;
    margin: 0 10%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;   
}
.menu-right{
    float:right;
}
.mainmenu ul ul.sub-menu{
    background-color:var(--color-menu-purple);
    width:200px;
    text-align:center;
    padding:25px 30px 13px;
    transition:all ease .4s;
    -webkit-transition:all ease .4s;
    -moz-transition:all ease .4s;
    visibility:hidden;
    opacity:0;
    margin:auto;
    position:absolute;
    right:0;
    text-align:center;
    top:100px;
    transform:translateX(-50%);
    z-index:100;
}
.mainmenu ul li:hover ul.sub-menu{
    visibility:visible;
    opacity:1;
    top:40px;
}
@media(min-width:520px){
    .menu_show{
        display: none;
        background-color: var(--color-menu-purple);
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 99999;
        top:0;
        padding: 0 3%;
    }
    .logo-huella{
        width: 100px;
        height: auto;
        margin: 5px 50px;
    }
}
@media(max-width:520px){
    .menu_show{
        background-color: var(--color-menu-purple);
        width: 100%;
        height: 70px;
        position: fixed;
        z-index: 99999;
        top:0;
        margin: 0;
    }
    .logo-huella{
        width: 60px;
        height: auto;
    }
}
.separador{
    background-color: white;
    height: 60%;
    width: 2px;
    margin: 20px 10px 0;
}
.mg-menu{
    margin-top:35px;
}
@media(min-width:1400px){
    .contact-menu-hv {
        color:white;
        font-size: 1.5em;
    }
}
@media(max-width:1400px){
    .contact-menu-hv{
        color:white;
        font-size: .9em;
    }
}
@media(max-width:520px){
    .button-contact{
        background-color: white;
        color: var(--color-pink);
        border-radius: 30px;
        width: 160px;
        height: 20px;
        padding-top: 3px;
        font-size: .7em;
        text-align: center;
        text-justify: center;
        margin-top: 25px;
    }
    .mt-mo-25{
        margin-top: 20px;
    }
    .back-plane{
        position: absolute;   
        width: 80%;
        z-index: 10;
        margin-top: 50px;
    }
}
@media(min-width:520px){
    .button-contact{
        background-color: white;
        color: var(--color-pink);
        border-radius: 30px;
        width: 350px;
        height: 30px;
        font-size: 1.3em;
        text-align: center;
        text-justify: center;
    }
}
.button-contact:hover{
    box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.7);
}
.non-decoration:hover{
    text-decoration: none;
}
@media(min-width:520px){
    .pop-menu{
        display: none;
        width: 300px;
        height: 100%;
        background-color: rgba(0,0,0,.8);
        position: fixed;
        padding-top: 15%;
        padding-left: 30px;
        z-index: 9;
        right: 0;
        top: 0;
    }
    .button-menu{
        width: 75px;
    }
}
@media(max-width:520px){
    .pop-menu{
        display: none;
        width: 100%;
        height: 500px;
        background-color: rgba(0,0,0,.8);
        position: fixed;
        text-align: center;
        padding-top: 100px;
        z-index: 1000;
        top:0;
    }
    .button-menu{
        width: 50px;
    }
}
@keyframes menuShow{
    0%{height: 0;display: block;}
    100%{height: auto;display: block;}
}
.contact-menu-hv:hover, .menu-item:hover{
    text-decoration: none;
    color: white;
}
.border-menu:hover > span{
    color: var(--color-pink);
}
.border-menu:hover, .menu-item:hover{
    border-bottom: 1px solid var(--color-pink);
}
.contact-menu-hv:hover > .sub-menu-item{
    animation: menuShow .1s;
    display: block;
}
.sub-menu-item{
    display: none;
    padding-left: 5px;
}
.menu-item{
    color: white;
    font-size: .8em;
}
.btn-close{
    width: 100%;
    text-align: center;
    margin: -100px 0 100px;
    font-size: 2em;
    cursor: pointer;
}
/* ------- END SECTION MENU------- */
/* --------SECTION HOME---------- */
.section{
    margin: 20px 30px;
}
@media(max-width:520px){
    .section-avisos{
        margin: 20px 20px;
    }
}
@media(min-width:520px){
    .section-avisos{
        margin: 20px 200px;
    }
    .title-pleca{
        font-size: 1.3em;
    }
}
.flex-row{
    display: flex;
}
.section-more{
    margin: 20px 10%;
}
.mg-top-100{
    margin-top: 100px;
}
@media(max-width:520px){
    .title-pleca{
        font-size: .8em;
    }
    .pleca-morada{
        background-image: url(../assets/desk/general/pleca-morada-2.svg);
        background-size: contain;
        height: 300px;
        width: 120%;
        background-repeat: no-repeat;
        padding-top: 190px;
        margin-top: -140px;
    }
    .slide-carrusel:hover > .pleca-morada {
        background-image: url(../assets/desk/general/pleca-rosa-2.svg);
    }
    .icon-section{
        width: 150px;
        height: auto;
        margin: 0 10% -10px;
    }
    .btn-ver{
        background-color: var(--color-pink);
        border:transparent;
        border-radius: 35px;   
        color: white;
        width: 100px;
        height: 35px;
        margin-top: 20%;
    }   
    .carrusel{
        position: relative;
        width: 100%;
        margin-left: -25%;
        padding: 0;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .carrusel-contain-item{
        width:30%;
    }
    .pleca-morada{
        background-image: url(../assets/desk/general/pleca-morada-copia.png);
        background-size: contain;
        height: 300px;
        width: 260px;
        background-repeat: no-repeat;
        padding-top: 115px;
        margin-top: -70px;
    }
    .slide-carrusel:hover > .pleca-morada {
        background-image: url(../assets/desk/general/pleca-rosa-copia.png);
    }
    .icon-section{
        width: 220px;
        height: auto;
        margin: 0 15px;
    }
    .btn-ver{
        background-color: var(--color-pink);
        border:transparent;
        border-radius: 35px;   
        color: white;
        width: 100px;
        height: 35px;
        margin-top: 25px;
    }   
    .carrusel{
        position: relative;
        width: 100%;
        height: 400px;
        margin: 40px 100px 20px;   
    }
}
@media(min-width:1400px){
    .carrusel{
        position: relative;
        width: 100%;
        height: 400px;
        margin: 40px 100px 20px;   
    }
    .carrusel-contain-item{
        width:30%;
        margin-top: -100px;
    }
    .pleca-morada{
        background-image: url(../assets/desk/general/pleca-morada.svg);
        background-size: contain;
        height: 600px;
        width: 100%;
        background-repeat: no-repeat;
        padding-top: 340px;
    }
    .slide-carrusel{
        height: 600px;
    }
    .slide-carrusel:hover > .pleca-morada {
        background-image: url(../assets/desk/general/pleca-rosa.svg);
    }
    .icon-section{
        width: 280px;
        height: auto;
        margin: 50px 60px;
        position: absolute;
    }
    .btn-ver{
        background-color: var(--color-pink);
        border:transparent;
        border-radius: 35px;   
        color: white;
        width: 180px;
        height: 35px;
        margin-top: 70px;
    }
}
@media(max-width:520px){
    .slide-carrusel:hover > div > a > .btn-ver{
        background-color: var(--btn-color-more);
        margin-top:20%;
    }
}
@media(min-width:520px){
    .slide-carrusel:hover > div > a > .btn-ver{
        background-color: var(--btn-color-more);
    }
}
.arrow-slide{
    width: 50px;
    margin-top: 200px;
}
.arrow-slide-client{
    width: 50px;
    cursor: pointer;
}
.subtitle{
    font-size: 1.6em;
    font-weight: 500;
}
.box-input{
    width: 100%;
    height: 70px;
    background-color: var(--bg-gray);
    border: transparent;
    border-radius: 20px;
    color: black;
    font-weight: 500;
    padding: 0 20px;
}
.box-input-area{
    height: 200px;
    padding-top: 20px;
}
.box-input:focus{
    background-color: white;
    box-shadow: 3px 3px 5px 3px rgba(200, 200, 200, 0.7);
    outline: 0;
    border: none;
}
.f-r{
    display: right;
}
.recap{
    margin: 10px auto;
}
.btn-submit{
    width: 310px;
    height: 38px;
    background-color: var(--color-pink);
    color:white;
    border: transparent;
    border-radius: 20px;
    margin: 10px auto;
}
.btn-blog{
    width: 350px;
    height: 38px;
    background-color: var(--btn-color-more);
    color:white;
    border: transparent;
    border-radius: 20px;
    margin: 10px auto;
}
.back-footer{
    background-image: url(../assets/desk/general/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
}
.footer-title{
    color: var(--color-gray-footer);
}
.list{
    list-style: outside;
    color: white;
    margin-left:15px;
}
.icon-gray{
    background-image: url(/assets/desk/iconos/circulo-gris.svg);
    background-size: 90%;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    justify-content: center;
    display: inline-block;
    padding-left: 5px;
}
.icon-size-footer{
    width: 14px;
    background-repeat: no-repeat;
    margin-top: -3px;
}
.icon-size-footer-fb{
    width: 8px;
    background-repeat: no-repeat;
    margin-top: -3px;
    margin-left: 2px;
}
.fs-small{
    font-size:1.4em;
}

@media(max-width:520px){
    .div-home{
        background-image: url(/assets/mobile/home/slider/banner-home.svg);
        background-size: cover;
        padding-top: 60px;
        height: 350px;
    }
    .title-banner{
        text-align: center;
        color: white;
        font-size: 1.7em;
    }
    .p-banner{
        text-align: center;
        color: white;
    }
    .p-center{
        text-align: center;
    }
    .subtitle-big{
        font-size: 1.7em;
    }
    .fs-s{
        font-size: 1em;
    }
    .border-mob{
        border-bottom: 1px solid var(--bg-gray);
    }
    .padding-footer-mob{
        padding: 0 20px;
    }
    
}
@media(min-width:520px){
    .br-white{
        border-right: 1px solid white;
    }
    .fs-s{
        font-size: .9em;
    }
    .subtitle-big{
        font-size: 3em;
    }
    .bg-gray{
        background-color: var(--bg-gray);
        height: 400px;
    }
    .slide-home{
        overflow: hidden;
        height: 500px;
    }
    .line-vertical{
        border-left: 2px solid var(--color-t-pink);
        font-size: 0.9em;
        font-weight: 500;
    }
    .line-vertical-pink{
        border-left: 2px solid var(--color-rose);
        font-size: 0.9em;
        font-weight: 500;
    }
    .line-vertical-yellow{
        border-left: 2px solid var(--color-yellow);
        font-size: 0.9em;
        font-weight: 500;
    }
    .line-vertical-purple{
        border-left: 2px solid var(--color-purple);
        font-size: 0.9em;
        font-weight: 500;
    }
    .line-vertical-cian{
        border-left: 2px solid var(--color-cian);
        font-size: 0.9em;
        font-weight: 500;
    }
    .line-vertical-blue{
        border-left: 2px solid var(--color-blue);
        font-size: 0.9em;
        font-weight: 500;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .div-home{
        position: absolute;
        margin: 100px 0 0 100px;
        width: 450px;
    }
}
@media(min-width:1400px){
    .div-home{
        position: absolute;
        margin: 100px 0 0 200px;
        width: 600px;
    }
}
.img-slide-home{
    margin: -10% -10% 0 0;
    float: right;
    width: 80%;
}
@media(max-width:520px){
    .line-rose-mob{
        border-left: 2px solid var(--color-rose);
    }
    .line-yellow-mob{
        border-left: 2px solid var(--color-yellow);
    }
    .line-purple-mob{
        border-left: 2px solid var(--color-purple);
    }
    .line-cian-mob{
        border-left: 2px solid var(--color-cian);
    }
}
@media(min-width:520px){
    .line-rose{
        border-left: 2px solid var(--color-rose);
    }
    .line-yellow{
        border-left: 2px solid var(--color-yellow);
    }
    .line-purple{
        border-left: 2px solid var(--color-purple);
    }
    .line-cian{
        border-left: 2px solid var(--color-cian);
    }
    .line-blue{
        border-left: 2px solid var(--color-blue);
    }
}
@media(max-width:520px){
    .btn-asesoria-white{
        background-color:white;
        width:250px;
        height: 25px;
        margin: 20px 0 0 20%;
        border:transparent;
        border-radius: 30px;
        color: var(--color-pink);
        font-weight: 400;
    }
    .btn-asesoria-pink{
        background-image: linear-gradient(to right, #A7054C 20%, #D90452 80%) ;
        width:250px;
        height: 25px;
        border:transparent;
        border-radius: 30px;
        color: white;
        font-weight: 400;
        margin: 0 15%;
    }
}
@media(min-width:520px){
    .btn-asesoria{
        background-image: linear-gradient(to right, #A7054C 20%, #D90452 80%) ;
        width:300px;
        height: 30px;
        border:transparent;
        border-radius: 30px;
        color: white;
        font-weight: 500;
    }
    .paragraph{
        margin: 25px 20%;
        text-align: center;
    }
    .list-footer-mobile{
        padding-left: 0;
    }
    .padd-mob{
        padding-left: 0;
    }
    .text-center-desk{
        text-align: center;
    }
}
@media(max-width:520px){
    .img-section{
        width: 70%;
        height: auto;
        margin: 20px 0;
        z-index: 100;
    }
    .paragraph{
        margin: 25px 5%;
        text-align: center;
    }
    .text-center-mobile{
        text-align: center;
    }
    .list-footer-mobile{
        padding-left: 15%;
    }
    .padd-mob{
        padding-left: 20%;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .img-section{
        width: 80%;
        height: auto;
        float: right;
        margin: 50px 50px;
    }
}
@media(min-width:1400px){
    .img-section{
        width: 70%;
        height: auto;
        float: right;
        margin-right: 100px;
    }
}
.icon-heart{
    width: 15px;
}
.i-body-right{
    float: right;
    width: 60px;   
}
@media(max-width:520px){
    .cont-client{
        width: 90%;
        overflow: hidden;
        display: flex;
    }
}
.aux-cont-client{
    width: 90%;
    overflow: hidden;
}
@media(min-width:520px){
    .cont-client{
        width: 100%;
        overflow: hidden;
        display: flex;
    }
}
@media(min-width:1400px){
    .box-client{
        background-image: url(/assets/desk/rectangulo-clientes.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        margin: 0 auto;
        margin:0 auto;
        overflow: hidden;
        display: flex;
        padding: 100px 150px;
    }
    .turn-color{
        filter: grayscale(100%);
        margin: 0 25px;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .turn-color{
        filter: grayscale(100%);
        margin: 0 25px;
    }
    .box-client{
        background-image: url(/assets/desk/rectangulo-clientes.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        margin: 0 auto;
        margin:0 auto;
        overflow: hidden;
        display: flex;
        padding: 70px 150px;
    }
}
@media(max-width:520px){
    .turn-color{
        margin: 0 25px;
    }
    .item-client{
        width: 100%;
    }
    .box-client > a{
        margin: 0 50px
    }
    .box-client{
        background-image: url(/assets/desk/rectangulo-clientes-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 0 50px;
    }
}
@keyframes addColor{
    0%{filter: grayscale(100%);}
    25%{filter: grayscale(75%);}
    50%{filter: grayscale(50%);}
    75%{filter: grayscale(25%);}
    100%{filter: grayscale(0);}
}
.turn-color:hover{
    animation: addColor 1s;
    animation-fill-mode: forwards;
}
@media(max-width:520px){
    .bck-section{
        background-image: url(/assets/desk/home/fondo-gray-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }   
}
@media(min-width:520px){
    .section-services{
        margin: 20px 30px;
    }
    .bck-section{
        background-image: url(/assets/desk/home/fondo-gray.svg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0 2%;
    }
    .section-quar-gray{
        background-image: url(/assets/desk/home/rectangulo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px 30px;
    }
}
@media(max-width:520px){
    .section-quar-gray{
        background-image: url(/assets/desk/home/rectagulo-peque.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .contain-blog{
        border-radius: 20px;
        padding: 15px;
        width: 100%;
    }
    .img-blog{
        width: 100%;
        border-radius: 20px;
    }
    .size-text-blog{
        font-size: 1.2em;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .contain-blog{
        background-color: var(--color-back-menu);
        border-radius: 20px;
        padding: 15px;
        width: 330px;
    }
    .img-blog{
        width: 300px;
        border-radius: 20px;
    }
    .size-text-blog{
        font-size: 1.2em;
    }
}
@media(min-width:1400px){
    .size-text-blog{
        font-size: 1.7em;
    }
    .contain-blog{
        background-color: var(--color-back-menu);
        border-radius: 20px;
        padding: 15px;
        width: 430px;
    }
    .img-blog{
        width: 400px;
        border-radius: 20px;
    }
}
.by-blog{
    color: var(--color-gray);
}
.title-blog{
    color: #2D2E2F;
}
.text-more-blog{
    color: var(--color-pink);
    font-weight: bold;
}
.line-blog{
    width: 35px;
    height: 2px;
    background-color: var(--color-pink);
    margin-top: -15px;
}
/* --------END SECTION HOME---------- */
/* ---------SECITON NOSOTROS--------- */

.slider-header{
    height: 450px;
    width: 100%;
}
@media(max-width:520px){
    .banner-mkt{
        background-image: url(/assets/mobile/home/slider/slider-section/mkt-slider-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
    
    .banner-rrss{
        background-image: url(/assets/mobile/home/slider/slider-section/rrss-slider-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
    .banner-publicidad{
        background-image: url(/assets/mobile/home/slider/slider-section/publicidad-slider-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
    .banner-seo{
        background-image: url(/assets/mobile/home/slider/slider-section/seo-slider-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
    .banner-web{
        background-image: url(/assets/mobile/home/slider/slider-section/web-slider-2.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
    .banner-home{
        background-image: url(/assets/mobile/home/slider/seccion-nosotros/slider-nosotros-secundario.svg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 350px;
        width: 100%;
    }
}
@media(min-width:520px){
    .banner-mkt{
        background-image: url(/assets/desk/seccion-mkt/slider/slider-agrupado.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner-rrss{
        background-image: url(/assets/desk/seccion-rrss/slider/slider-segundo-agrupado.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner-publicidad{
        background-image: url(/assets/desk/seccion-publicidad/slider/back-segundo-slider.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner-seo{
        background-image: url(/assets/desk/seccion-seo/slider/icon-segundo-slider.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner-web{
        background-image: url(/assets/desk/seccion-web/slider/back-segundo-slider.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .banner-home{
        background-image: url(/assets/desk/seccion-nosotros/slider/slider-agrupado.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}
.slider-header-firts{
    height: 450px;
    width: 100%;
    background-image: url(/assets/desk/seccion-nosotros/slider/slider-agrupado.svg);
}
@media(max-width:520px){
    .cont-sli-head{
        width: 100%;
        overflow: hidden;
    }
    .content-slider{
        overflow: hidden;
        width: 100%;
        height: 280px;    
    }
    .head-sli-item{
        height: 310px;
        width: 100%;
    }
    .h1-absolute{
        position: absolute;
        margin: 60px 5% 0 5%;
        z-index: 100;
    }
    .line-vertical-white{
        border-left: 2px solid white;
        color: white;
    }
    .banner-mob-mkt{
        background-image: url(/assets/mobile/mobile/mkt.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
    }
    .banner-mob-rrss{
        background-image: url(/assets/mobile/mobile/rrss.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
    }
    .banner-mob-advertising{
        background-image: url(/assets/mobile/mobile/advertising.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
    }
    .banner-mob-seo{
        background-image: url(/assets/mobile/mobile/seo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
    }
    .banner-mob-web{
        background-image: url(/assets/mobile/mobile/web.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 350px;
    }
    .banner-mob-us{
        background-image: url(/assets/mobile/mobile/us.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 350px;
    }
    .flex-banner{
        display: flex;
    }
    .title-mkt, .title-rrss, .title-advertising, .title-seo, .title-web-desing, .title-us{
        color: white;
    }
    .h1-absolute-m{
        position: absolute;
        margin: 60px 5% 0 8%;
        z-index: 100;
    }
}
@media(min-width:520px){
    .h1-absolute-m{
        position: absolute;
        margin: 100px 0 0 8%;
        z-index: 100;
    }
    .title-mkt{
        color: var(--color-rose);
    }
    .title-rrss{
        color: var(--color-yellow);
    }
    .title-advertising{
        color: var(--color-purple);
    }
    .title-seo{
        color: var(--color-cian);
    }
    .title-web-desing{
        color: var(--color-blue);
    }
    .title-us{
        color: var(--color-pink);
    }
    .flex-banner{
        display: flex;
        margin-left: -15px important!;
        margin-right: -15px important!;
    }
    .h1-absolute{
        position: absolute;
        margin: 80px 0 0 10%;
        z-index: 100;
    }
    .cont-sli-head{
        width: 100%;
        overflow: hidden;
    }
    .content-slider{
        overflow: hidden;
        width: 100%;
        height: 450px;    
    }
    .head-sli-item{
        height: 450px;
        width: 100%;
    }
}
.flex{
    display: flex;
}
input[type="radio"]{
    display: none;
}
input[type="radio"] + label:before {
    content: "";
    width: 15px;
    height: 15px;
    margin:10px;
    float: left;
    background: var(--color-gray-footer);
    border-radius: 100%;
}
input[type="radio"]:checked + label:before {
    content: "";
    width: 15px;
    height: 15px;
    float: left;
    background-color: var(--color-pink);
    border-radius: 100%;
}
.icon-work{
    width: 280px;
    height: 300px;
    margin-top: -25px;
    margin-right: -100px;
}
.trazo{
    background-image: url(/assets/desk/seccion-nosotros/proceso-trabajo/trazado.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 330px;
    padding: 0 60px;
}
@media(max-width:520px){
    .title-work{
        font-size: 1.5em;
    }
}
@media(min-width:520px){
    .title-work{
        font-size: 2.5em;
    }
}
.slide-work-mob{
    width: 100%;
    height: 320px;
    overflow: hidden;
}
.slide-work-item-mob{
    width: 100%;
}
.icon-work-mob{
    width: 90px;
    margin-top: -35px;
}
.slide-work{
    width: 90%;
    height: 400px;
    overflow: hidden;
}
.slide-work-item{
    display: flex;
    width: 100%;   
}
.trazo-mob{
    background-image: url(/assets/desk/seccion-nosotros/proceso-trabajo/trazado-mob.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 260px;
    padding: 0 8px;
}

.contain-ms{
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.item-mv{
    padding-top:30px;
}
.arrow-invert{
    filter: opacity(70%);
}
@media(max-width:520px){
    .arrow-mob{
        width: 25px;
    }
    .back-mision-vision{
        background-image: url(/assets/desk/seccion-nosotros/caja-slider-mision-vision.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
    }
    .mrt{
        margin-top:90px;
    }
}
@media(min-width:520px){
    .back-mision-vision{
        background-image: url(/assets/desk/seccion-nosotros/caja-slider-mision-vision.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 300px;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
    }
    .mg-desk-mv{
        margin: 0 50px;
    }
    .mrt{
        margin-top:120px;
    }
}
@media(max-width:520px){
    .item-advantage-mob{
        width: 250px;
        background-color: black;
        border-radius: 50px;
        color:white;
        text-align: center;
        padding-top: 5px;
        margin: 10px auto 35px;
    }
    .text-advantage-mob{
        font-size: .8em;
    }
    .item-advantage-mob-active{
        animation-name: showAdvantColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    @keyframes showAdvantColor{
        0%{ width: 250px;
            background-color: black;
            border-radius: 50px;
            color:white;
            text-align: center;
            padding-top: 5px;
            margin: 10px auto 35px;}
        100%{width: 250px;
            background-color: var(--color-pink);
            border-radius: 50px;
            color:white;
            text-align: center;
            padding-top: 5px;
            margin: 10px auto 35px;}
    }
    .text-advantage-mob-active{
        display: block;
        animation-name: text-size;
        animation-duration: 1s;
    }
}
.bkg-pink{
    background-color: var(--color-pink);
    width: 250px;
    border-radius: 50px;
    color:white;
    text-align: center;
    padding-top: 5px;
    margin: 10px auto 35px;
}
@media(min-width:520px){
    .item-advantage{
        width: 250px;
        height: 90px;
        background-color: black;
        border-radius: 50px;
        color:white;
        text-align: center;
        padding-top: 5px;
        margin: 10px auto 35px;
    }
    .text-advantage{
        display: none;
        position:absolute;
    }
}
@media(min-width:1400px){
    .item-advantage-second{
        width: 250px;
        height: 90px;
        background-color: black;
        border-radius: 50px;
        color:white;
        text-align: center;
        padding-top: 5px;
        margin: 250px auto 35px;
    }
}
@media(max-width:1400px){
    .item-advantage-second{
        width: 250px;
        height: 90px;
        background-color: black;
        border-radius: 50px;
        color:white;
        text-align: center;
        padding-top: 5px;
        margin: 200px auto 35px;
    }
}
.bkg-advantage-mob{
    background-image: url(/assets/mobile/home/slider/seccion-nosotros/ventajas-icon-back.svg);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position-y: center;

}
.text-advange-bt{
    display: none;
}
@keyframes showTex{
    0%{font-size: .0;display: block;}
    100%{font-size: .8;display: block;}
}
.show-text{
    animation-name: showTex;
    animation-duration: 1s;
    animation-fill-mode:forwards;
}
@keyframes text-size{
    0% {font-size: .0;}
    /* 50% {font-size: 0.3em} */
    /* 50% {font-size: 0.5em;} */
    /* 75% {font-size: 0.8em} */
    100% {font-size: 1em}
}
.item-advantage:hover{
    background-color: var(--color-pink);
}
.item-advantage-second:hover{
    background-color: var(--color-pink);
}
.item-advantage:hover + .text-advantage{
    display: block;
    animation-name: text-size;
    animation-duration: 1s;
}
.item-advantage-second:hover + .text-advantage{
    display: block;
    animation-name: text-size;
    animation-duration: 1s;
}
.item-advantage:hover + .text-advange-bt{
    display: block;
    animation-name: text-size;
    animation-duration: 1s;
}
.img-advantage{
    width: 100%;
    margin: 0 auto;
}
@media(max-width:520px){
    .back-pink{
        background-image: url(/assets/desk/seccion-nosotros/ventajas/caja-mejora-resultados.svg);
        background-size: cover;
        width: 100%;
        padding:20px 0;
        margin: 50px 0;
    }
}
@media(min-width:520px){
    .back-pink{
        background-image: url(/assets/desk/seccion-nosotros/ventajas/caja-mejora-resultados.svg);
        background-size: cover;
        width: 70%;
        padding:20px 0;
        margin: 100px auto;
    }
}
@media(min-width:1400px){
    .line-point-left{
        position: absolute;
        width: 300px;
        top: 50px;
        left: -50px;
    }
    .line-point-right{
        position: absolute;
        width: 250px;
        top: 50px;
        right: -50px;
    }
    .line-point-l{
        position: absolute;
        width: 350px;
        top: 35%;
        left:-100px;
    }
    .line-point-d{
        position: absolute;
        width: 350px;
        top: 35%;
        right:-100px;
    }
    .line-point-b{
        position: absolute;
        height: 400px;
        bottom: -30px;
        right: 35%;
    }
}
@media(max-width:1400px){
    .line-point-left{
        position: absolute;
        width: 200px;
        top: 50px;
        left: -20px;
    }
    .line-point-right{
        position: absolute;
        width: 200px;
        top: 50px;
        right: -20px;
    }
    .line-point-l{
        position: absolute;
        width: 250px;
        top: 45%;
        left:-50px;
    }
    .line-point-d{
        position: absolute;
        width: 250px;
        top: 45%;
        right:-50px;
    }
    .line-point-b{
        position: absolute;
        height: 250px;
        bottom: -25px;
        right: 35%;
    }
}

/* --------END SECTION NOSOTRO-------- */
@media(max-width:520px){
    .over-hide{
        overflow: hidden;
    }
    .div-bullets{
        text-align: center;
        width: 100%;
        bottom: 0;
        margin-bottom:-20px;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .over-hide{
        overflow: hidden;
        height: 600px;
    }
    .div-bullets{
        text-align: center;
        position: absolute;
        width: 100%;
    }
    .padding-top-50{
        padding-top: 50px;
    }
}
@media(min-width:1400px){
    .over-hide{
        overflow: hidden;
        height: 600px;
    }
    .div-bullets{
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 10px;
    }
    .padding-top-50{
        padding-top: 50px;
    }
}

.mg-subtitle{
    margin-left: 100px;
}
/* END SECTION NOSOTROS */
/* SECTION PRODUCTS MKT */
.circle-wave-mob{
    background-color: black;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    text-align: center;
    margin: 0 auto;
}
.ballon-text-mob-rose{
        background-image: url(/assets/desk/iconos/globo-text-rose.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        width: 200px;
        height: 100px;
        margin: 5px auto 15px;
}
.ballon-text-mob-yellow{
    background-image: url(/assets/desk/iconos/globo-text-yellow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 200px;
    height: 100px;
    margin: 5px auto 15px;
}
.ballon-text-mob-purple{
    background-image: url(/assets/desk/iconos/globo-text-purple.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 200px;
    height: 100px;
    margin: 5px auto 15px;
}
.ballon-text-mob-cian{
    background-image: url(/assets/desk/iconos/globo-text-cian.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 200px;
    height: 100px;
    margin: 5px auto 15px;
}
.ballon-text-mob-blue{
    background-image: url(/assets/desk/iconos/globo-text-blue.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 200px;
    height: 100px;
    margin: 5px auto 15px;
}
@media(min-width:520px){
    .wave{
        background-image: url(/assets/desk/iconos/linea-servicios.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 80%;
        margin: 150px auto 0;
    }
}
@media(max-width:1400px){
    .circle-wave{
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-yellow{
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-purple{
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-cian{
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-blue{
        background-color: black;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        text-align: center;
    }
    .icon-services{
        width: 60px;
        height: 60px;
        margin-top: 10px;
    }
}
@media(min-width:1400px){
    .circle-wave{
        background-color: black;
        width: 110px;
        height: 110px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-yellow{
        background-color: black;
        width: 110px;
        height: 110px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-purple{
        background-color: black;
        width: 110px;
        height: 110px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-cian{
        background-color: black;
        width: 110px;
        height: 110px;
        border-radius: 80px;
        text-align: center;
    }
    .circle-wave-blue{
        background-color: black;
        width: 110px;
        height: 110px;
        border-radius: 80px;
        text-align: center;
    }
    .icon-services{
        width: 75px;
        height: 75px;
        margin-top: 13px;
    }
}
.circle-wave:hover{
    background-color: var(--color-rose);
}
.circle-wave-yellow:hover{
    background-color: var(--color-yellow);
}
.circle-wave-purple:hover{
    background-color: var(--color-purple);
}
.circle-wave-cian:hover{
    background-color: var(--color-cian);
}
.circle-wave-blue:hover{
    background-color: var(--color-blue);
}
@media(max-width:520px){
    .section-gray{
        background-image: url(/assets/desk/home/fondo-section-gray.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
    }
}
@media(min-width:520px){
    .section-gray{
        background-image: url(/assets/desk/home/fondo-section-gray.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 445px;
    }
}
.fondo-gray{
    background-image: url(/assets/desk/home/fondo-section-gray.svg);
    background-image: contain;
    background-repeat: no-repeat;
}

.postion-one{
    margin: 40px 6% 0 12%;
}
.postion-two, .postion-four, .postion-six{
    margin:-40px 7% 0 0;
}
.postion-three, .postion-five{
    margin: 40px 7% 0 0;
}

@keyframes ballon{
    0%{height: 10px;margin-bottom: 90px;}
    25%{height:25px;margin-bottom: 75px;}
    50%{height:50px;margin-bottom: 50px;}
    75%{height:75px;margin-bottom: 25px;}
    100%{margin-bottom: 0;}
}
@media(max-width:1400px){
    .circle-wave:hover > .ballon-text, .circle-wave-yellow:hover > .ballon-text, .circle-wave-purple:hover > .ballon-text, .circle-wave-cian:hover > .ballon-text, .circle-wave-blue:hover > .ballon-text{
        background-image: url(/assets/desk/iconos/globo-text.svg);
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
        animation-name: ballon;
        animation-duration: .3s;
        width: 200px;
        height: 100px;
        margin: 15px 0 0 -55px;
        display: block;
    }
    .circle-wave:hover > .ballon-text-invert, .circle-wave-yellow:hover > .ballon-text-invert, .circle-wave-purple:hover > .ballon-text-invert, .circle-wave-cian:hover > .ballon-text-invert, .circle-wave-blue:hover > .ballon-text-invert{
        display: block;
        background-image: url(/assets/desk/iconos/globo-text-invert.svg);
        background-size: contain;
        background-repeat: no-repeat;
        color: white;
        animation-name: ballon;
        animation-duration: .3s;
        width: 200px;
        height: 100px;
        margin: -100px 0 0 -45px;
        padding-top: 15px;
    }
}
@media(min-width:1400px){
    .circle-wave:hover > .ballon-text, .circle-wave-yellow:hover > .ballon-text, .circle-wave-purple:hover > .ballon-text, .circle-wave-cian:hover > .ballon-text, .circle-wave-blue:hover > .ballon-text{
        background-image: url(/assets/desk/iconos/globo-text.svg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        animation-name: ballon;
        animation-duration: .3s;
        width: 180px;
        height: 100px;
        margin: 20px 0 0 -35px;
        padding: 30px 5px;
        display: block;
    }
    .circle-wave:hover > .ballon-text-invert, .circle-wave-yellow:hover > .ballon-text-invert, .circle-wave-purple:hover > .ballon-text-invert, .circle-wave-cian:hover > .ballon-text-invert, .circle-wave-blue:hover > .ballon-text-invert{
        display: block;
        background-image: url(/assets/desk/iconos/globo-text-invert.svg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        animation-name: ballon;
        animation-duration: .3s;
        width: 180px;
        height: 100px;
        margin: -100px 0 0 -35px;
        padding-top: 15px;
    }
}
.padd-top-35{
    padding-top:35px;
}
.padd-top-10{
    padding-top:10px;
}
.padd-top-5{
    padding-top: 5px;
}
.mar-5-15{
    margin:5px 0 0 -15px;
}

.ballon-text{
    display: none;
    background-image: url(/assets/desk/iconos/globo-text.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 200px;
    height: 100px;
    padding-top: 35px;
}
.ballon-text-invert{
    display: none;
    background-image: url(/assets/desk/iconos/globo-text-invert.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 200px;
    height: 100px;
    margin: -100px 0 0 -35px;
    padding-top: 15px;
}
@media(max-width:520px){
    .ballon-item{
        font-weight:bold;
        width:200px;
    }
}
@media(min-width:520px){
    .ballon-item{
        font-weight:bold;
        width:180px;
    }
}
/* END SECTION MKT */
/* SECTION THANSK */
@media(max-width:520px){
    .title-thanks{
        color: var(--color-pink);
        font-size: 1.8em;
        margin:20px 0;
    }
}
@media(min-width:520px){
    .title-thanks{
        color: var(--color-pink);
        font-size: 3.8em;
        margin:20px 0;
    }
}
.list-thanks-social{
    display:flex;
    justify-content:center;
    padding: 0;
}
.icon-gray-thanks{
    background-image: url(/assets/desk/iconos/circulo-gris.svg);
    background-size: 90%;
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    justify-content: center;
    display: inline-block;
    padding-top:7px;
}
.icon-size-thanks{
    width: 24px;
    background-repeat: no-repeat;
}
.icon-size-thanks-fb{
    width: 16px;
    background-repeat: no-repeat;
    margin-left: 2px;
}
@media(max-width:520px){
    .content-thanks{
        background-image: url(/assets/desk/formulario-agradecimiento/caja-agradecimiento-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        height: 250px;
        padding:15px 1%;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .fs-medium-thanks{
        font-size: 1.3em;
    }
    .content-thanks{
        background-image: url(/assets/desk/formulario-agradecimiento/caja-agradecimiento.svg);
        background-repeat: no-repeat;
        background-size: 103%;
        width: 75%;
        height: 400px;
        margin: 0 auto;
        padding:15px 10%;
    }
    .mar-top-bot{
        margin: 5px 0;
    }
    .logo-huella-thanks{
        width:90px;
        margin: -80px -120px 0 0;
        float: right;
    }
}
@media(min-width:1400px){
    .fs-medium-thanks{
        font-size: 2em;
    }
    .content-thanks{
        background-image: url(/assets/desk/formulario-agradecimiento/caja-agradecimiento.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 70%;
        height: 550px;
        margin: 0 auto;
        padding:15px 10%;
    }
    .mar-top-bot{
        margin: 10px 0 20px;
    }
    .logo-huella-thanks{
        width:110px;
        margin: -80px -120px 0 0;
        float: right;
    }
}
.logo-right{
    float:right;
    margin-right: 25px;
}
/* END SECTION THANSK */
/* SECTION PRIVACY */
@media(min-width:520px){
    .banner-privacy{
        background-image: url(/assets/desk/seccion-avisos/caja-avisos.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        width: 100%;    
        padding-top:130px;
    }
    .text-avisos{
        color:white;
        font-size:3em;
    }
}
@media(max-width:520px){
    .banner-privacy{
        background-image: url(/assets/desk/seccion-avisos/caja-avisos.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;    
        padding-top:100px;
    }
    .text-avisos{
        color:white;
        font-size:2.5em;
    }
}
.link-icon{
    width: 15px;
}
.link-cookies{
    color: var(--color-pink);   
    font-weight: bold;
}
.link-cookies:hover{
    color: var(--color-pink);
}
@media(max-width:520px){
    .stamp-pink{
        text-align: center;
        margin: 10px 0;
        width: 120px;
    }
    .stamp{
        float: right;
        width: 100px;
        margin:-120px 15px 0 0;
    }
    .margin-warranty{
        margin-left: 5%;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .stamp{
        float: right;
        width: 250px;
        margin:-150px 10% 0 0;
    }
    .margin-warranty{
        margin-left: 15%;
    }
    .stamp-pink{
        text-align: center;
        margin-top: 20px;
        width: 150px;
    }
}
@media(min-width:1400px){
    .stamp{
        float: right;
        width: 250px;
        margin:-150px 20% 0 0;
    }
    .margin-warranty{
        margin-left: 25%;
    }
    .stamp-pink{
        text-align: center;
        margin-top: 20px;
        width: 200px;
    }
}
@media(min-width:520px) and (max-width:1400px){
    .img-1{
        margin:-100px 0 0 -100px;
    }
    .img-2{
        margin:-50px 0 0 50px;
        position: absolute;
        width: 250px;
    }
    .img-3{
        margin:-20px 0 0 50px;
        width: 150px;
    }
    .img-4{
        right: 0;
        margin:-100px 50px 0 0;
        position: absolute;
    }
    .img-5{
        margin:-120px 0 0 10px;
        width: 250px;
        position: absolute
    }
    .img-6{
        float: right;
        margin:-100px 10px 0 0;
    }
    .img-7{
        float: right;
        width: 200px;
        margin:-150px 10px 0 0;
    }
}
@media(min-width:1400px){
    .img-1{
        margin:-20px 0 50px -100px;
    }
    .img-2{
        margin:-50px 0 0 50px;
        position: absolute;
        width: 250px;
    }
    .img-3{
        margin:50px 0 0 50px;
        width: 250px;
    }
    .img-4{
        right: 0;
        margin:-150px 200px 0 0;
        position: absolute;
    }
    .img-5{
        margin:-100px 0 0 50px;
        width: 250px;
        position: absolute
    }
    .img-6{
        float: right;
        margin:-100px 100px 0 0;
    }
    .img-7{
        float: right;
        width: 250px;
        margin:-150px 50px 0 0;
    }
}
@media(max-width:1400px){
    .plane-right{
        position: absolute;
        right: 0;
        margin-top: -100px;
        width: 600px;
    }
    .plane-right-recort{
        left: 0;
        margin: 20px 0 -50px;
        width: 500px;
    }
    .plane-left{
        position: absolute;
        left: 0;
        margin-top: -200px;
        width: 300px;
    }
}
@media(min-width:1400px){
    .plane-right{
        position: absolute;
        right: 0;
        margin-top: -100px;
        width: 800px;
    }
    .plane-right-recort{
        left: 0;
        margin: 20px 0 -50px;
        width: 600px;
    }
    .plane-left{
        position: absolute;
        left: 0;
        margin-top: -100px;
        width: 400px;
    }
}
.img-line{
    position: absolute;
    right: 0;
    width: 150px;
}
.img-line-left{
    position: absolute;
    left: 0;
    margin-top: 20%;
    width: 150px;
}
.img-line-doble{
    position: absolute;
    right: 0;
    width: 150px;
}
@media(max-width: 520px){
    .chat-icon{
        width: 60px;
        height: 60px;
        border-radius: 40px;
        position: fixed;
        bottom: 30px;
        right: 20px;
    }
}
@media(min-width: 520px){
    .chat-icon{
        width: 60px;
        height: 60px;
        border-radius: 40px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        margin-left: 50px;
    }
}
.arrow-return{
    width: 50px;
    height: 100px;
}
.showit{
    background: black;
    bottom: 30px;
    color: #fff;
    font-size: 20px;
    line-height: .8;
    position: fixed;
    left: 30px;
    text-align: center;
    width: 40px;
    z-index: 9999;
}
@media(max-width:520px){
    .errorDiv{
        background-color: var(--color-pink);
        color: white;
        border-radius: 5px;
        width: 70%;
        height: 40px;
        text-align: center;
        margin: 20px auto;
        padding-top: 10px;
        font-family: FivoSans-Regular;
        font-size: 1em;
    }
}
@media(min-width:520px){
    .errorDiv{
        background-color: var(--color-pink);
        color: white;
        border-radius: 5px;
        width: 70%;
        height: 40px;
        text-align: center;
        margin: 20px auto;
        padding-top: 5px;
        font-family: FivoSans-Regular;
        font-size: 1.5em;
        
    }
}